:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-color: #0f172a;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: rgba(255, 255, 255, 0.87);
  overflow-x: hidden;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  z-index: 20;
}



/* Background FX */
.background-orbs {
  position: fixed;
  inset: 0;
  z-index: 0;
  overflow: hidden;
}

.orb {
  position: absolute;
  filter: blur(90px);
  opacity: 0.4;
  border-radius: 50%;
}

.orb-1 {
  width: 300px;
  height: 300px;
  background: #7c3aed;
  /* Violet */
  top: 10%;
  left: 20%;
  animation: float 10s infinite ease-in-out;
}

.orb-2 {
  width: 400px;
  height: 400px;
  background: #3b82f6;
  /* Blue */
  bottom: 10%;
  right: 10%;
  animation: float 14s infinite ease-in-out reverse;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(30px, 40px);
  }

  100% {
    transform: translate(0, 0);
  }
}